<app-template></app-template>
<div class="container" style="width: 100%">
  <div class="row">
      <app-side-menu></app-side-menu>
      <div class=col-md-10>
          <div class="jumbotron">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-4"><p><b>Dívida Total: {{ user.debt }}</b></p></div>
                <div class="col-md-4"><p>Impressões: {{ user.monthly_payment }}</p></div>
                <div class="col-md-4"><p>Mensalidade: {{ user.printing }}</p></div>
              </div>
            </div>
          <hr>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Data</th>
                  <th>Valor</th>
                  <th>Razão</th>
                  <th>Origem</th>
                  <th>Destino</th>
                </tr>
              </thead>
              <tbody *ngFor="let historic of historical">
                <tr>
                  <td>{{ historic.dt_created | date:'dd/MM/yyyy' }}</td>
                  <td>R$ {{ historic.value }}</td>
                  <td>{{ historic.main_reason }}</td>
                  <td>{{ historic.from_place }}</td>
                  <td>{{ historic.to_place }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          </div>
      </div>
</div>
</div>
