<app-template></app-template>
<div class=container style="width: 100%">
  <div class="row">
      <app-side-menu></app-side-menu>
      <div class=col-md-10>
          <div class="jumbotron">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-6"><p><b>Caixa: </b> {{ event?.debt }}</p></div>
                <div class="col-md-6"><div class="pull-right"><div class="btn-group">
                    <select class="btn btn-primary" [(ngModel)]="valueSelected"
                            name="valueSelected" (ngModelChange)="getEvent(valueSelected)">
                      <option [value]="0" selected>Eventos</option>
                      <option *ngFor="let x of events" [value]="x._id">{{ x.name }}</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Data</th>
                  <th>Responsável</th>
                  <th>Valor</th>
                  <th>Razão</th>
                  <th>Origem</th>
                  <th>Destino</th>
                </tr>
              </thead>
              <tbody *ngFor="let historic of historical">
                <tr>
                  <td>{{ historic.dt_created | date:'dd/MM/yyyy' }}</td>
                  <td>{{ historic.user }}</td>
                  <td>{{ historic.value }}</td>
                  <td>{{ historic.main_reason }}</td>
                  <td>{{ historic.from_place }}</td>
                  <td>{{ historic.to_place }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          </div>
      </div>
</div>
</div>
