<app-template></app-template>
<div class=container style="width: 100%">
  <div class="row">
      <div class="col-md-2">
          <ul class="nav nav-pills nav-stacked">
              <li role="presentation"><a href="saldoPessoal">Saldo pessoal</a></li>
              <li role="presentation"><a href="eventos">Eventos</a></li>
              <li role="presentation"><a href="caixinha">Caixinha</a></li>
              <li role="presentation"><a href="cofre">Cofre</a></li>
              <li role="presentation"><a href="contaBancaria">Conta Bancária</a></li>
          </ul>
      </div>
      <div class=col-md-10>
          <div class="jumbotron">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-6"><p><b>Caixa: </b></p></div>
                <div class="col-md-6"><div class="pull-right"><div class="btn-group">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Eventos <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                      <li><a href="#">Action</a></li>
                      <li><a href="#">Another action</a></li>
                      <li><a href="#">Something else here</a></li>
                      <li role="separator" class="divider"></li>
                      <li><a href="#">Separated link</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Data</th>
                  <th>Responsável</th>
                  <th>Valor</th>
                  <th>Razão</th>
                  <th>Origem</th>
                  <th>Destino</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Data</td>
                  <th>Responsável</th>
                  <td>Valor</td>
                  <td>Razão</td>
                  <td>Origem</td>
                  <td>Destino</td>
                </tr>
                <tr>
                  <td>Data</td>
                  <th>Responsável</th>
                  <td>Valor</td>
                  <td>Razão</td>
                  <td>Origem</td>
                  <td>Destino</td>
                </tr>
              </tbody>
            </table>
          </div>
          </div>
      </div>
</div>
</div>
