<app-template></app-template>
<div class=container style="width: 100%">
  <div class="row">
      <div class="col-md-2">
          <ul class="nav nav-pills nav-stacked">
              <li role="presentation" ><a href="saldoPessoal">Saldo pessoal</a></li>
              <li role="presentation" ><a href="eventos">Eventos</a></li>
              <li role="presentation" class="active" ><a href="caixinha">Caixinha</a></li>
              <li role="presentation" ><a href="cofre">Cofre</a></li>
              <li role="presentation" ><a href="contaBancaria">Conta Bancária</a></li>
          </ul>
      </div>
      <div class=col-md-10>
          <div class="jumbotron">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-4"><p><b>Caixa:</b></p></div>
              </div>
            </div>
            <hr>
            <div class="panel-group" id="accordion">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a (click)="loadInfo(1)" data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                    Movimentação de petianos</a>
                  </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse in">
                  <div class="panel-body">
                    <div class="table-responsive">
                      <table class="table table-striped">
                        <thead>
                          <tr>
                            <th>Data</th>
                            <th>Responsável</th>
                            <th>Valor</th>
                            <th>Razão</th>
                            <th>Origem</th>
                            <th>Destino</th>
                          </tr>
                        </thead>
                        <tbody *ngFor="let historic of historical">
                        <tr>
                          <td>{{ historic.dt_created }}</td>
                          <td>{{ historic.petiano }}</td>
                          <td>{{ historic.value }}</td>
                          <td>{{ historic.main_reason }}</td>
                          <td>{{ historic.from_place }}</td>
                          <td>{{ historic.to_place }}</td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a (click)="loadInfo(2)" data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                    Movimentação de eventos</a>
                  </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse">
                  <div class="panel-body">
                    <div class="table-responsive">
                      <table class="table table-striped">
                        <thead>
                          <tr>
                            <th>Data</th>
                            <th>Responsável</th>
                            <th>Evento</th>
                            <th>Valor</th>
                            <th>Razão</th>
                            <th>Origem</th>
                            <th>Destino</th>
                          </tr>
                        </thead>
                        <tbody *ngFor="let historic of historical">
                        <tr>
                          <td>{{ historic.dt_created }}</td>
                          <td>{{ historic.evento }}</td>
                          <td>{{ historic.petiano }}</td>
                          <td>{{ historic.value }}</td>
                          <td>{{ historic.main_reason }}</td>
                          <td>{{ historic.from_place }}</td>
                          <td>{{ historic.to_place }}</td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
</div>
</div>

